# Generated java
*.class

# Android specific
goclient/platforms/android/local.properties

# Generated phonegap android
goclient/platforms/android/assets
goclient/platforms/android/ant-build
goclient/platforms/android/ant-gen
goclient/platforms/android/CordovaLib/ant-build
goclient/platforms/android/CordovaLib/ant-gen


